/* Google fonts: */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    background-color: #eff0f1;
}

/* for button */
/* from: https://codepen.io/cheeriottis/pen/inluv */

a.animate
{
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

a.action-button
{
	position: relative;
	padding: 10px 40px;
    margin: 15px 10px 10px 15px;
    float: left;
	border-radius: 10px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Roboto', sans-serif;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

a.whobutton
{
	background-color: black;
	border-bottom: 5px solid #485341;
    text-shadow: 0px -2px #485341;
    font-size: calc(12px + 0.7vw);
    padding: 10px 20px;
}

a.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

/* arrow */
/* div.arrow {
    position: relative;
    left: 270px;
    top: -80px;
} */

img#arrow {
    height: calc(40px + 2.5vw);
    transform: rotate(30deg)
}

/* Jumbotron with Logo image */
div.jumbotron  {
    height: 80vh;
    background-color: #B1BB8A;
    margin-bottom: 0;
    padding-top: 20px;
}

div.jumbotron .jumbo-index {
    padding-bottom: 1vw;
}

img#logo {
    border: 10px solid black;
    height: 70vw;
    max-height: 50vh;
}

h1.display-5 {
    font-size: calc(20px + 1.5vw);
    padding: 10px;
}

div.container .row {
    justify-content: space-around;
}

div.index {
    /* background-color: rgba(240, 255, 249, 0.568); */
    text-align: center;
    padding-bottom: 20px;
}

p.index {
    background-color: rgba(13, 41, 13, 0.637);
    color: beige;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 5vw;
}

div.card {
    max-width: 300px;
    margin: 10px;
}
/* for button */
a.entersite:hover {
    -webkit-animation: shake 1s;
    animation: shake 1s;
}

/* Media queries */
@media only screen and (min-width: 768px) {
    /* for the positioning of the arrow */
    div.arrow {
        position: relative;
        left: 270px;
        top: -60px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
    div.jumbotron {
        height: 90vh;
    }
}