/* Google fonts: */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

/* for button */
/* from: https://codepen.io/cheeriottis/pen/inluv */
/* body
{
	padding: 50px;
} */

a.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

a.action-button
{
	position: relative;
	padding: 10px 40px;
    margin: 15px 10px 10px 15px;
    float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

a.yellow
{
	background-color: rgb(221, 208, 94);
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

a.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

h1.display-4 {
    font-family: 'Lexend Peta', sans-serif;
    font-size: 7vw;
    padding: 50px;
}

div.container .row {
    justify-content: space-around;
}



/* for button */
a.entersite:hover {
    -webkit-animation: shake 1s;
    animation: shake 1s;
}

/* Contact links */

a.contact-link {
font-size: 3vw;
color: rgb(19, 61, 19);
padding: 5px;
margin: 10px;
}

a.middle {
margin: 5vw;
}

/* Footer */

div.container-contact-footer {
    background-color: white;
    padding: 0px;
}

footer.page-footer {
    color: black;
    background-color: rgba(164, 192, 107, 0.363);
    padding: 20px;
}




